extends layout


block styles
    link(rel='stylesheet', href='/stylesheets/chatroom.css')

block scripts
    script(src="/javascripts/chat.js")


block content
    div.container.chatroom
        div#messagesDiv

        div.controls
            textarea#messageInput.form-control
            button.btn.btn-block(onclick="sendMessage()") Send