extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/register.css')

block scripts
    script(src="/javascripts/register.js")

block content
    div.container.register
        h2 Register
        span#message Fill out the form below
        //- label(class="sr-only", for="usernameInput") Username
        input.form-control(type="text", id="usernameInput", placeholder="Username")
        //- label(class="sr-only", for="passwordInput") Password
        input.form-control(type="password", id="passwordInput", placeholder="Password")
        input.form-control(type="password", id="confirmInput", placeholder="ReenterPassword")
        button.btn.btn-lg.btn-primary.btn-block(id="registerButton", onclick="register()") Register
